<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners Title Page</title>
</head>
<body>
<h2 th:text="'List of Pet Owners'"></h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>

    <!-- ? is null safe operator, it should not be used in a loop, because loop elements will not be null, just demo  -->
    <tbody>
    <tr th:each="owner : ${ownersList}">
        <td th:text="${owner?.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>